<!-- <div class="flex flex-col md:flex-row justify-between items-center mb-4 p-4 bg-gray-100 rounded-lg shadow-md">
  <div class="flex items-center mb-2 md:mb-0">
    <label for="entriesPerPage" class="mr-2 text-sm font-medium">Entries per page:</label>
    <select id="entriesPerPage" class="p-2 border border-gray-300 rounded bg-white text-sm" [(ngModel)]="entriesPerPage" (change)="changeEntriesPerPage(entriesPerPage)">
      <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</option>
    </select>
  </div>
  <div class="text-sm">
    Showing {{ (currentPage - 1) * entriesPerPage + 1 }} to {{ getMinValue(currentPage * entriesPerPage, data.length) }} of {{ data.length }} entries
  </div>
</div>

<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th *ngFor="let column of columns" scope="col" class="px-6 py-3">
        {{ column.label }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of paginatedData" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer" (click)="onRowClick(row)">
      <td *ngFor="let column of columns" class="px-6 py-4">
        <ng-container *ngIf="isObject(row[column.key]); else simpleContent">
          <div *ngIf="column.subColumns">
            <div *ngFor="let subColumn of column.subColumns">
              {{ row[column.key][subColumn.key] }}
            </div>
          </div>
        </ng-container>
        <ng-template #simpleContent>
          <ng-container *ngIf="column.key === 'name'; else defaultContent">
            <div class="flex items-center">
              <img class="w-10 h-10 rounded-full" [src]="row.image" alt="Employee image">
              <div class="ps-3">
                <div class="font-semibold text-base text-black text-nowrap">{{ row[column.key] }}</div>
              </div>
            </div>
          </ng-container>
          <ng-template #defaultContent>
            <ng-container *ngIf="column.key === 'status'">
              <div class="flex items-center">
                <div class="h-2.5 w-2.5 rounded-full" [ngClass]="row[column.key] === 'Present' ? 'bg-green-500 me-2' : 'bg-red-500 me-2'"></div>
                {{ row[column.key] }}
              </div>
            </ng-container>
            <ng-container *ngIf="column.key !== 'status'">
              {{ row[column.key] }}
            </ng-container>
          </ng-template>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>

<div class="flex flex-col items-center mt-4">
  <div class="flex items-center space-x-2">
    <button class="p-2 bg-gray-300 rounded hover:bg-gray-400 transition-colors duration-300 text-sm" (click)="goToPrevious10Pages()" [disabled]="currentPage === 1">
      <svg class="w-5 h-5 fill-[#000000]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"></path>
      </svg>
    </button>
    <button class="p-2 bg-gray-300 rounded hover:bg-gray-400 transition-colors duration-300 text-sm" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      <svg class="w-5 h-5 fill-[#000000]" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path>    
      </svg>
    </button>
    <button *ngFor="let page of pages" class="p-2 border border-gray-300 rounded mx-1 text-sm transition-colors duration-300" [ngClass]="{ 'bg-gray-300': currentPage === page, 'hover:bg-gray-200': currentPage !== page }" (click)="changePage(page)" [disabled]="page === -1">
      <span *ngIf="page === -1">...</span>
      <span *ngIf="page !== -1">{{ page }}</span>
    </button>
    <button class="p-2 bg-gray-300 rounded hover:bg-gray-400 transition-colors duration-300 text-sm" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
      <svg class="w-5 h-5 fill-[#000000]" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
      </svg>
    </button>
    <button class="p-2 bg-gray-300 rounded hover:bg-gray-400 transition-colors duration-300 text-sm" (click)="goToNext10Pages()" [disabled]="currentPage === totalPages">
      <svg class="w-5 h-5 fill-[#000000]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"></path>   
      </svg>
    </button>
  </div>
</div>

<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th *ngFor="let column of columns" scope="col" class="px-6 py-3">
        {{ column.label }}
      </th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let row of data" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer" (click)="onRowClick(row)">
      <td *ngFor="let column of columns" class="px-6 py-4">
        <ng-container *ngIf="isObject(row[column.key]); else simpleContent">
          <div *ngIf="column.subColumns">
            <div *ngFor="let subColumn of column.subColumns">
              {{ row[column.key][subColumn.key] }}
            </div>
          </div>
        </ng-container>

        <ng-template #simpleContent>
          <ng-container *ngIf="column.key === 'name'; else defaultContent">
            <div class="flex items-center">
              <img class="w-10 h-10 rounded-full" [src]="row.image" alt="Employee image">
              <div class="ps-3">
                <div class="font-semibold text-base text-black text-nowrap">{{ row[column.key] }}</div>
              </div>
            </div>
          </ng-container>

          <ng-template #defaultContent>

            <ng-container *ngIf="column.key === 'status'">
              <div class="flex items-center">
                <div class="h-2.5 w-2.5 rounded-full"
                  [ngClass]="row[column.key] === 'Present' ? 'bg-green-500 me-2' : 'bg-red-500 me-2'"></div>
                  {{ row[column.key] }}
              </div>
            </ng-container>

            <ng-container *ngIf="column.key !== 'status'">
              {{ row[column.key] }}
            </ng-container>

          </ng-template>

        </ng-template>

      </td>
    </tr>

  </tbody>
</table> -->



<div class="flex overflow-auto" [ngClass]="columns.length >= 3 && columns.length != 2 ? 'max-h-[60vh]' : ''">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border border-gray-300 dark:border-gray-600 animate-slideDown">
    <thead
      class="text-xs sticky top-0 text-gray-700 uppercase bg-blue-100 dark:bg-blue-900 dark:text-gray-400 border-b border-blue-200 dark:border-blue-700">
      <tr>
        <th *ngFor="let column of columns" scope="col"
          class="px-6 py-3 bg-blue-200 dark:bg-blue-800 text-black dark:text-blue-200 border-b border-gray-300 dark:border-gray-600">
          {{ column.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data"
        class="bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-blue-50 dark:hover:bg-blue-600 cursor-pointer transition-colors duration-200 ease-in-out"
        (click)="onRowClick(row)">
        <td *ngFor="let column of columns" class="px-6 py-2 border-b border-gray-300 dark:border-gray-600">
          <ng-container *ngIf="isObject(row[column.key]); else simpleContent">
            <div *ngIf="column.subColumns" class="space-y-1">
              <div *ngFor="let subColumn of column.subColumns" class="text-sm text-gray-600 dark:text-gray-300">
                {{ row[column.key][subColumn.key] }}
              </div>
            </div>
          </ng-container>
          <ng-template #simpleContent>
            <ng-container *ngIf="column.key === 'fullName'; else defaultContent">
              <div class="flex items-center">
                <img class="w-12 h-12 rounded-full border-3" [src]="'data:image/jpeg;base64,' + row.profilePic"
                  alt="Employee image" [ngClass]="{
                  'border-green-500 dark:border-green-700': row.status === 'Present',
                  'border-red-500 dark:border-red-700': row.status === 'Absent',
                  'border-yellow-400 dark:border-yellow-700': !row.status
                }">
                <div class="ps-3">
                  <div class="font-semibold text-base text-gray-800 dark:text-gray-200">{{ row[column.key] }}</div>
                </div>
              </div>
            </ng-container>
            <ng-template #defaultContent>
              <ng-container *ngIf="column.key === 'status'">
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full"
                    [ngClass]="row[column.key] === 'Present' ? 'bg-green-500 me-2' : 'bg-red-500 me-2'"></div>
                  <span [ngClass]="row[column.key] === 'Present' ? 'text-green-500' : 'text-red-500'">{{ row[column.key]
                    }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.key === 'checkType'">
                <div class="flex items-center">
                  <div class="h-2.5 w-2.5 rounded-full"
                    [ngClass]="row[column.key] === 'IN' ? 'bg-green-500 me-2' : 'bg-red-500 me-2'"></div>
                  <span [ngClass]="row[column.key] === 'IN' ? 'text-green-500' : 'text-red-500'">{{ row[column.key]
                    }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.key !== 'status' && column.key !== 'checkType' && column.key !== 'action'">
                <span class="text-gray-700 dark:text-gray-300">{{ row[column.key] }}</span>
              </ng-container>
        <td *ngIf="column.key === 'action'" class="py-2 text-left flex flex-col sm:flex-row sm:items-center">
          <button (click)="onEditClick(row); $event.stopPropagation()"
            class="bg-blue-300 text-white font-semibold py-1 px-3 rounded hover:bg-blue-500 transition-colors duration-200 ease-in-out mb-2 sm:mb-0 sm:mr-2">
            Edit
          </button>
          <button (click)="onDeleteClick(row); $event.stopPropagation()"
            class="bg-red-300 text-white font-semibold py-1 px-3 rounded hover:bg-red-500 transition-colors duration-200 mb-2 ease-in-out">
            Delete
          </button>
        </td>
        </ng-template>
        </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>