<div
  class="p-2 bg-white border border-gray-200 rounded-lg shadow-md shadow-yellow-300 dark:bg-gray-800 dark:border-gray-700 w-full animate-slideDown">
  <div class="flex items-center justify-between">
    <h1 class="text-xs font-bold text-black uppercase">Employee Logs</h1>
    <div class="flex items-center space-x-2">
      <label for="date-input" class="mr-2 text-blue-900 dark:text-white font-medium">Date:</label>
      <input id="date-input" type="date" [(ngModel)]="selectedDate" (change)="onDateChange()"
        class="px-2 py-1 border border-blue-800 rounded-md text-base dark:bg-yellow-700 dark:text-white focus:outline-none focus:ring focus:border-blue-300" />
    </div>

    <div
      class="search-box relative flex flex-wrap items-center border border-gray-300 rounded-lg p-2 space-x-2 dark:text-white focus:outline-none focus:ring focus:border-blue-300">
      <div class="tags flex flex-wrap space-x-2">
        <span *ngFor="let term of searchTerms"
          class="tag bg-blue-100 text-blue-800 px-3 py-1 rounded-full flex items-center">
          {{ term }}
          <span class="remove-tag ml-2 text-red-600 cursor-pointer font-bold" (click)="removeTerm(term)">
            ×
          </span>
        </span>
      </div>
      <input type="text" [(ngModel)]="searchInput" (input)="onInputChange()" (keydown.enter)="addTerm()"
        placeholder="Search..." class="flex-grow border-none outline-none bg-transparent placeholder-gray-500 text-sm"
        (keydown)="handleKeyDown($event)" />
      <ul *ngIf="filteredSuggestions.length > 0"
        class="absolute top-full left-0 w-full bg-white border border-gray-300 rounded-lg mt-1 z-10 shadow-lg">
        <li *ngFor="let suggestion of filteredSuggestions" (click)="selectSuggestion(suggestion)"
          class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
          {{ suggestion }}
        </li>
      </ul>
    </div>
  </div>
  <hr class="my-2 border-gray-300 dark:border-gray-600">
  <!-- <app-table-with-tabs [data]="employeeLogData" [tabs]="tabs" [tabNames]="tabNames" [columns]="columns" ></app-table-with-tabs> -->
  <app-table-with-tabs [tabs]="tabs" [tabNames]="tabNames" [data]="employeeLogData" [columns]="columns"
    [ngClass]="{'hidden':!isDataLoaded}" (filteredDataChange)="onFilteredDataChange($event)"
    (tabChanged)="onTabChanged($event)" class="max-h-96"></app-table-with-tabs>
  <div class="flex justify-center" [ngClass]="{'hidden':isDataLoaded}">
    <app-loader></app-loader>
  </div>
</div>