<div
  class="p-2 bg-white border border-blue-200 rounded-lg shadow-md shadow-yellow-300 dark:bg-blue-800 dark:border-blue-700 w-full animate-slideDown">
  <h1 class="text-xs font-bold text-blue-900 uppercase">Employee Status</h1>
  <hr class="my-2 border-blue-300 dark:border-blue-600">
  <div class="grid gap-2 sm:grid-cols-2 lg:grid-cols-3">
    <!-- <button (click)="setFilter('all')" -->
    <button 
      class="p-6 bg-white border border-blue-200 rounded-lg dark:bg-blue-800 dark:border-blue-700 text-center focus:outline-none">
      <h3 class="text-base font-semibold">Total Employees</h3>
      <hr class="my-2 border-blue-300 dark:border-blue-600">
      <h3 class="text-2xl font-bold text-blue-500">{{ attendanceLogModel.total || 0 }}</h3>
    </button>
    <!-- <button (click)="setFilter('present')" -->
      <button
      class="p-6 bg-white border border-blue-200 rounded-lg dark:bg-blue-800 dark:border-blue-700 text-center focus:outline-none">
      <h3 class="text-base font-semibold">Present Employees</h3>
      <hr class="my-2 border-blue-300 dark:border-blue-600">
      <h3 class="text-2xl font-bold text-green-500">{{ attendanceLogModel.present || 0}}</h3>
    </button>
    <!-- <button (click)="setFilter('wfh')" -->
      <!-- <button
      class="p-6 bg-white border border-blue-200 rounded-lg dark:bg-blue-800 dark:border-blue-700 text-center focus:outline-none">
      <h3 class="text-base font-semibold">Work From Home</h3>
      <hr class="my-2 border-blue-300 dark:border-blue-600">
      <h3 class="text-2xl font-bold text-yellow-500">{{ attendanceLogModel.wfh || 0}}</h3>
    </button> -->
    <!-- <button (click)="setFilter('absent')" -->
      <button
      class="p-6 bg-white border border-blue-200 rounded-lg dark:bg-blue-800 dark:border-blue-700 text-center focus:outline-none">
      <h3 class="text-base font-semibold">Absent Employees</h3>
      <hr class="my-2 border-blue-300 dark:border-blue-600">
      <h3 class="text-2xl font-bold text-red-500">{{ attendanceLogModel.absent || 0}}</h3>
    </button>
  </div>
</div>


<!-- <app-employee-status-details [employeeData]="filteredEmployees" class="mt-4"></app-employee-status-details> -->