<router-outlet></router-outlet>

<!-- <div *ngIf="(!isLogged && !isNewUser)">
    <app-login (loginStatusChange)="onLoginStatusChange($event)"
        (signUpStatusChange)="onSignUpStatusChange($event)"></app-login>
</div>

<div *ngIf="(!isLogged && isNewUser)">
    <app-sign-up (signUpStatusChange)="onSignUpStatusChange($event)"></app-sign-up>
</div>

<div *ngIf="(isLogged)">
    <app-navbar [isOn]="isOn" (toggle)="toggle()" (toggleOff)="toggleOff()"></app-navbar>
    <app-sidebar [isOn]="isOn" (toggle)="toggle()" (toggleOff)="toggleOff()"></app-sidebar>
    <app-section [isOn]="isOn" (toggle)="toggle()" (toggleOff)="toggleOff()"></app-section>
    <app-footer [isOn]="isOn" (toggle)="toggle()" (toggleOff)="toggleOff()"></app-footer>
</div> -->